.contenedor {
    display: flex;
    flex-direction: column;
}
.contenedor_2, .contenedor_3 {
    display: flex;
}
.asociados a:hover {
    background-color: rgba(255, 103, 27, 70%);
    color: #FFF8F8;
}
.d-titulolineas h1 {
    background-image: url(../../images_d/vectortitulo-lineasemer.svg);
    color: #FFFF;
    text-align: center;
    padding: 2rem;
    max-width: 2600px;
    width: 100%;
    margin-top: 10px;
}

.asociados-titulos {
    text-align: center;
    color: #3B0057;
    text-shadow: 2px 1px 5px rgb(126, 126, 126);
}

.visibilidad-asociados {
    text-align: center;
    border-bottom: #3B0057 5px solid;
}

.d-vectores-asociados img {
    width: 100px;
}

.vector-2 {
    float: right;
}

.d-container {
    border: #A12161 4px solid;
    width: 250px;
    text-align: center;
    margin: 50px 20px;
    padding: 15px;
    background-color: #c75c7e33;
    box-shadow: 10px 15px #A12161;
    margin: 25% 8%;
    color: #000;
}

.d-container h1 {
    font-size: 20px;
}

.d-container img,
a,
p {
    padding: 15px;
    font-weight: 600;}

.d-container img {
    width: 200px;
}

.d-vectores-asociados-2 {
    display: flex;
}

.vector-dos {
    float: right;
}

.d-container a {  
    color: #3B0057;
}
.d-container a:visited {
    color: #3B0057;
}

/* MEDIA QUERIES */

@media (min-width: 768px) {
    .d-container {
        margin: 10% 34%;
        text-align: center;
    }

    .d-vectores-asociados img {
        width: 200px;
    }

}

@media (min-width: 1024px) {

    .asociados {
        display: flex;
        flex-direction: row;

    }

    .d-container {
        margin: 8% 5%;
        text-align: center;
    }
}

@media (min-width: 1200px) {

    .d-container {
        margin: 5% 7%;
        text-align: center;
    }
}

@media (min-width: 1900px) {

    .d-container {
        margin: 5% 10%;
        text-align: center;
    }
}
.flip-card {
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
  }