

.modal li {
  list-style-image: url(../../images_d/redflag.svg);
  max-width: 300px;
      width: 100%;
}

.back_lineas {
  background-color: #A12161;
  padding: 8px;
  color: #fff;
  border: none;
  cursor: pointer;
}